<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emporium Sperandio</title>
     <!--css-->
    <link rel="stylesheet" href="../css/productos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
</head>
<body>
    <header>
        <img class="logo" src="../images/logo.png" alt="logo" width="1024" height="1536">
       <h1>Emporium Sperandio</h1>
       <nav class="navbar">
        <ul class="navbarList">
            <li>
                <a class="enlace" href="../index.html">incio</a>
            </li>
             <li>
                <a class="enlace active" href="#">productos</a>
            </li>
             <li>
                <a class="enlace" href="./presupuesto.html">presupuesto</a>
            </li>
             <li>
                <a class="enlace" href="./contacto.html">contacto</a>
            </li>
        </ul>

       </nav>
    </header>
    <!-------main------>
    <main>
        <section class="productos">
        <h1>Nuestros Productos</h1>

        <div class="grade-productos">

            <div class="producto">
                <img src="../images/img02.jpg" alt="Producto" width="3987" height="3625">
                <h2>Producto</h2>
                <p>Espuma limpiadora facial</p>
                <span>€9,90</span>
                <button>Comprar</button>
            </div>

            <div class="producto">
                <img src="../images/img3.png" alt="Producto" width="1024" height="1180">
                <h2>Producto </h2>
                <p>Sérum facial vitamina C</p>
                <span>€18,90</span>
                <button>Comprar</button>
            </div>

            <div class="producto">
                <img src="../images/img4.jpg" alt="Producto" width="3093" height="3801">
                <h2>Producto</h2>
                <p>Sabonete Artesanal</p>
                <span>€4,90</span>
                <button>Comprar</button>
            </div>

             <div class="producto">
                <img src="../images/img5.jpg" alt="Producto" width="1024" height="1024">
                <h2>Produto</h2>
                <p>Creme Hidratante Natural</p>
                <span>€14,90</span>
                <button>Comprar</button>
            </div>

            <div class="producto">
                <img src="../images/img7.png" alt="Producto" width="1024" height="1032">
                <h2>Produto</h2>
                <p>Bruma Aromática Âmbar Suave</p>
                <span>€7,90</span>
                <button>Comprar</button>
            </div>

             <div class="producto">
                <img src="../images/img6.jpg" alt="Producto" width="1024" height="1024">
                <h2>Produto</h2>
                <p>Exfoliante corporal</p>
                <span>€14,90</span>
                <button>Comprar</button>
            </div>

        </div>
    </section>

    </main>
    <footer>
         <div class="address">
        <strong>Emporium Sperandio</strong><br>
        Calle Medico Amenedo Casabella,06 — Arteixo, A Coruña, España<br>
        Aviso legal y política de privacidad.
      </div>
        <div id="social_media_icons">
                <a href="#" class="icon-link twitter">
                    <i class="fa-brands fa-x-twitter"></i>
                </a>
                <a href="#" class="icon-link facebook">
                     <i class="fa-brands fa-facebook"></i>
                </a>
                <a href="#" class="icon-link instagram">
                      <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="#" class="icon-link github">
                    <i class="fa-brands fa-github"></i>
                </a>
            </div>
    </footer>
</body>
</html>